/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #515151;
  background-color: #2A80B9;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: #fff;
  border: 2px solid #DEDEDE;
  border-radius: 7px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}
.tab-controller {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.tab-controller__input {
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #DEDEDE;
  padding: 0 40px 10px 5px;
  transition: .15s;
}
.tab-controller__input:focus{
  border-bottom-color: #333333;
}
.tab-controller__button {
  padding: 13px 16px;
  border: none;
  cursor: pointer;
  transition: background-color .1s;
}
.tab-controller__button:hover {
  background-color: #E5E5E5;
}
.tab-controller__button:active{
  transform: translateY(2px);
}
.tab-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.tab-radio:checked + .tab-label{
  color: #333;
}
.tab-label{
  margin-right: 12px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #C3C5C7;
  cursor: pointer;
}
.tab-content {
  margin: 0;
}